body{ 

    font-family: 'Raleway, sans-serif';
}


main{
    padding:0 200px;
}

section{

    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1 {

    display: flex;
    
    font-size: 55px;
    align-items: center;
    font-size: 55px;
}
section img{

    width: 1100px; 
    height: 500px;
    margin: 0 100px;
    border-radius: 10px;
}
.time{

    font-size: 25px; ;
}
.timeimg{
    border: none;
    width: 20px;
}  

.work {
    border-radius: 10px;
    background-color: #ebeceb;
    display: flex;
    border: black 2px;
    padding: 2px;
    width: 150px;
    justify-content: center;
    
   

}
table{
  border-collapse: collapse;
  width: 100%;
}
.work p {
    
    font-size: 18px;
}

.worktime {
    display: flex;
    gap: 30px;
    padding: 25px 163px;
}

.ingredient{

    width: 245px;
    
}


.ingredients {
display:flex ;
padding-top: 20px ;
padding-left: 30px;
border-radius: 10px;
padding-bottom: 20px;

font-size: 20px;
}
.background {

    background-color: #ebeceb; 
}
img[src="./img/profile.png"] {
  height: 80px;
  width: 80px;
  border-radius: 3050px;

}

.profile{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
    font-size: 18px;
    
}

.profilename {

    display: flex;
    flex-direction: row;
    gap: 50px;
    
}
.profilename p{

    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.portions button {
  background-color: green;
  border: 0px;
  color: white;
  padding: 2px 50px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.portions{

    padding-bottom: 20px;
    font-size: 18px;
}

.recipe{

    font-size: 20px;
}







