footer {
  background-color: #403b3b;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-logo {
  height: 80px;
}

.icons {
  height: 50px;
  padding-right: 10px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.link-text {
  font-size: 24px;
}

.footer-link:hover {
  color: rgb(0, 128, 0);
  text-shadow: rgb(19, 163, 0) 0 1px 1px;
  box-shadow: green 0 3px 0px;
}

.hide {
  display: none;
}

@media (max-width: 649px) {
  .icons {
    height: 30px;
    padding-right: 15px;
  }
  .footer-logo {
    display: none;
  }
  .footer-logo-mobile {
    display: block;
    height: 40px;
    padding-right: 10px;
    padding-left: 20px;
  }
  .link-text {
    font-size: 20px;
  }
  .social-media {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 5px;
  }
}
@media (min-width: 650px) and (max-width: 900px) {
  .icons {
    height: 35px;
    padding-right: 10px;
  }
  .footer-logo {
    height: 50px;
  }
  .link-text {
    font-size: 22px;
  }
}
