footer {
  background-color: #403b3b;
  width: 100%;
}

.footer-wrapper {
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 150px;
}

.footer-logo {
  width: 200px;
  height: auto;
}

.footer-logo-mobile {
  display: none;
}

.icons {
  height: 40px;
  padding-right: 10px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.link-text {
  font-size: 20px;
}

footer p {
  font-size: 14px;
}

.footer-link:hover {
  color: rgb(0, 128, 0);
  text-shadow: rgb(19, 163, 0) 0 1px 1px;
  box-shadow: green 0 3px 0px;
}

.hide {
  display: none;
}

@media (max-width: 1200px) {
  .footer-wrapper {
    padding: 20px 100px;
  }

  .footer-logo {
    width: 180px;
  }

  .icons {
    height: 35px;
  }

  .link-text {
    font-size: 18px;
  }

  footer p {
    font-size: 13px;
  }
}

@media (max-width: 900px) {
  .footer-wrapper {
    padding: 20px 70px;
  }

  .footer-logo {
    width: 160px;
  }

  .icons {
    height: 32px;
  }

  .link-text {
    font-size: 16px;
  }

  footer p {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .footer-wrapper {
    padding: 20px 40px;
  }

  .footer-logo {
    width: 140px;
  }

  .icons {
    height: 28px;
  }

  .link-text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .footer-wrapper {
    padding: 15px 16px;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .footer-logo {
    display: none;
  }

  .footer-logo-mobile {
    display: block;
    width: 50px;
    height: auto;
  }

  .icons {
    height: 24px;
    padding-right: 8px;
  }

  .link-text {
    font-size: 12px;
  }

  footer p {
    font-size: 10px;
    text-align: center;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}
