body{
     font-family: 'Raleway, sans-serif';
}

main{
    padding: 50px 200px;
    font-size: 18px;
}

main h1{

    display: flex;
    font-size: 55px;
    align-items: center;

}

.keyvisual {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
}

.recipe-icons{
    width: 20px;
}

.informations {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  align-items: center;

}

.informations-box {
  background-color: #ebeceb;
  border-radius: 10px;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

input {
  font-size: inherit;

}

.button {
  background-color: green;
  border: 0px;
  color: white;
  padding: 10px 40px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

  }

tr:nth-child(odd) {
    background-color: #ebeceb;
    
}

td {
    text-align: start;
    padding: 16px;
  }

  td:first-child{
    border-radius: 10px 0 0 10px;
  }

td:last-child {
  border-radius: 0 10px 10px 0;
}
.recipe{

    display: flex;
    gap: 30px;
}
.profile {
    width: 60px;
    border-radius: 40px;
}