body{ 
    margin: 0px;
    font-family: "Raleway", sans-serif;
    
}
header {
    
    width: 100%;
    box-shadow: rgb(230, 230, 230) 0 2px 10px
}


    .headerdisplay {

        display: flex;
        align-items: flex-end;
        justify-content: space-around;

    }
    header img {
        display: flex;
        width: 250;
    }

    nav {
        top: 15px;
        position: relative;
        display: flex;
    }

    nav h2 {
        font-size: 23px;
        margin-left:25px;
        font-weight: lighter;

    }

    
    .navlink {
        text-decoration: none;
        color: black;
        
    }
    .navlink:hover{
        color: rgb(0, 128, 0);
        text-shadow: rgb(19, 163, 0) 0 1px 1px;
        box-shadow: green 0 3px 0px
    }


    

    