@media (max-width: 950px) {
  .navhide {
    display: none;
  }
  .Kochweltlogo {
    width: 248px;
  }
}
@media (max-width: 600px) {
  .navihide {
    display: none;
  }
}
header {
  width: 100%;
  box-shadow: rgb(230, 230, 230) 0 2px 10px;
}
.headerdisplay {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
header img {
  display: flex;
  width: 250;
}
nav {
  top: 15px;
  position: relative;
  display: flex;
}
nav h2 {
  font-size: 23px;
  margin-left: 25px;
  font-weight: lighter;
}
.navlink {
  text-decoration: none;
  color: black;
}
.navlink:hover {
  color: rgb(0, 128, 0);
  text-shadow: rgb(19, 163, 0) 0 1px 1px;
  box-shadow: green 0 3px 0px;
}
main {
  width: 100%;
  margin-left: 150px;
  margin-right: 150px;
}
main img {
  border-radius: 15px;
  border: solid 1px rgb(138, 136, 136);
}
.hero {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 120px;
}
.hero img {
  width: 600px;
  height: auto;
  object-fit: cover;
}
.rezeptdestages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
}
.beschreibung {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #047e18;
  border-radius: 2px;
  border: solid 1px rgb(0, 0, 0);
  color: white;
  padding: 10px 70px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #ee7272;
}

.cta {
  width: 100vw;
  background-color: blanchedalmond;
  padding: 20px;
  position: relative;
}

.titel {
  font-size: 20px;
  margin: 30px 0px 30px 0px;
  justify-items: center;
}
.rezeptwahl {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}
.rezept {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rezept img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.rezept h2 {
  font-size: 14px;
}
